<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bqjr.report.mapper.ReportInfoMapper">

	<select id="findAll" resultType="com.bqjr.report.model.Organization">
		select pk_id pkId,parent_id
		parentId,org_name orgName
		from c_sys_organization 
	</select>

	<select id="getOrganizationById" parameterType="string"
		resultType="com.bqjr.report.model.Organization">
		select pk_id pkId,parent_id parentId,org_name orgName
		from
		c_sys_organization where pk_id=#{pkId}
	</select>

	<select id="getInfoByOrganizationId" parameterType="com.bqjr.report.model.OrganizationBean"
		resultType="com.bqjr.report.model.OrganizationBudget">
		select cso.schema_name,cso.pk_id,
		cso.org_name orgName,
		(select sum(fooi.total) from
		finance_org_other_income fooi
		where fooi.org_id = cso.pk_id
		and fooi.schema_name=cso.schema_name
		and fooi.status = '1'
		and fooi.delete_flag = '1'
		and last_up_time between #{start} and #{end}
		group by schema_name,org_id,org_name) income,
		(select
		sum(fooe.total)
		from finance_org_other_expend fooe
		where fooe.org_id =cso.pk_id
		and fooe.schema_name=cso.schema_name
		and fooe.status = '1'
		and fooe.delete_flag = '1'
		and last_up_time between #{start} and #{end}
		group by schema_name,org_id,org_name) expend
		from c_sys_organization cso
		where cso.delete_flag='1'
		and cso.org_enable='1'
		and cso.schema_name=#{schemaName}
		and cso.pk_id in
		<foreach collection="orgs" item="org" open="(" separator=","
			close=")">
			#{org}
		</foreach>
	</select>

	<select id="getIncomeByBusinessType" parameterType="com.bqjr.report.model.SearchCondition"
		resultType="com.bqjr.report.model.OrganizationBudget">
		select org_name orgName,'收入' businessType,business_name businessName,sum(total) money
		from finance_org_other_income
		where status = '1'
		and delete_flag = '1'
		and schema_name=#{schemaName}
		<if test="businessId != null">
 			and business_id=#{businessId}
 		</if>
		and last_up_time between #{start} and #{end}
		and org_id in
		<foreach collection="orgs" item="org" open="(" separator=","
			close=")">
			#{org}
		</foreach>
		group by org_id,org_name,business_id,business_name
	</select>
	
	<select id="getExpendByBusinessType" parameterType="com.bqjr.report.model.SearchCondition"
		resultType="com.bqjr.report.model.OrganizationBudget">
		select org_name orgName,'支出' businessType,business_name businessName,sum(total) money
		from finance_org_other_expend
		where status = '1'
		and delete_flag = '1'
		and schema_name=#{schemaName}
		and last_up_time between #{start} and #{end}
		<if test="businessId != null">
 			and business_id=#{businessId}
 		</if>
		and org_id in
		<foreach collection="orgs" item="org" open="(" separator=","
			close=")">
			#{org}
		</foreach>
		group by org_id,org_name,business_id,business_name
	</select>
</mapper>