<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bqjr.report.mapper.ReportMapper">

	<select id="getpurchaseCollectList" resultType="com.bqjr.report.model.PurchaseCollect"
		parameterType="com.bqjr.report.model.SearchCondition">
		select tt.schema_name,
		<if test="type==1">
			t1.commodity_name commodityName,
			t1.commodity_code
			commodityCode,
			tt.commodity_info_id commodityId,
			(select t2.brand_name
			from
			c_commodity_brand t2 where <!-- t2.status=2 and -->
			t2.delete_flag=1 and
			<!-- t2.from_type=t1.from_type and -->
			t1.schema_name=t2.schema_name and
			t2.brand_code=t1.brand_code) as
			brandName,
			(select t3.catalog_name from
			c_commodity_catalog t3 where <!-- t3.status=2 and -->
			t3.delete_flag=1 and
			<!-- t3.from_type=t1.from_type and -->
			t1.schema_name=t3.schema_name and
			t3.catalog_code=t1.catalog_code) as
			catalogName,
			(select t4.model_name
			from c_commodity_model t4 where <!-- t4.status=2 and -->
			t4.delete_flag=1 and
			<!-- t4.from_type=t1.from_type and -->
			t1.schema_name=t4.schema_name and
			t4.model_code=t1.model_code ) as
			modelName,
		</if>
		(select t5.org_name from c_sys_organization t5 where
		tt.org_id=t5.pk_id) as orgName,
		(select ps.supplier_name from
		purchase_supplier ps where
		ps.pk_id=tt.supplier_id) supplier,
		tt.supplier_id supplierId,
		tt.org_id
		orgId,
		tt.operation_type
		operationType,
		tt.schema_name schemaName
		from(
		select t11.schema_name,
		t11.supplier_id,
		t11.org_id,
		t11.operation_type
		<if test="type==1">
			,t11.commodity_info_id
		</if>
		from(
		select
		schema_name,
		supplier_id,
		org_id,
		operation_type
		<if test="type==1">
			,commodity_info_id
		</if>
		from
		(<!-- 采购入库 -->
		select pwi.schema_name,
		pwi.supplier_id,
		pwi.org_id,
		pwi.operation_type
		<if test="type==1">
			,wic.commodity_info_id
		</if>
		from purchase_warehouse_in pwi, urchase_warehouse_in_commodity wic
		where pwi.delete_flag = 1
		and pwi.warehouse_in_status = 1
		and pwi.schema_name = #{schemaName}
		and wic.delete_flag = 1
		and substr(pwi.warehouse_in_date ,1,10) between #{start} and #{end}

		<if test="orgId==null">
			<if test="orgs.size()>0">
				and pwi.org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and pwi.org_id =#{orgId}
		</if>
		and pwi.schema_name = wic.schema_name
		and pwi.pk_id =
		wic.warehouse_in_id

		group by pwi.schema_name,
		pwi.supplier_id,
		pwi.org_id,
		<if test="type==1">
			wic.commodity_info_id,
		</if>
		pwi.operation_type
		union
		<!-- 采购退货 -->
		select pr.schema_name,
		pr.supplier_id,
		pr.org_id,
		pr.operation_type
		<if test="type==1">
			,prc.commodity_info_id
		</if>
		from purchase_refunds pr, purchase_refunds_commodity prc
		where
		pr.delete_flag = 1
		and pr.refunds_status = 1
		and prc.delete_flag = 1
		and prc.schema_name = #{schemaName}
		and substr(pr.refunds_status,1,10)
		between #{start} and #{end}
		<if test="orgId==null">
			<if test="orgs.size()>0">
				and pr.org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and pr.org_id =#{orgId}
		</if>
		and pr.schema_name = prc.schema_name
		and pr.pk_id = prc.refunds_id
		group by
		pr.schema_name,
		pr.supplier_id,
		pr.org_id,
		<if test="type==1">
			prc.commodity_info_id,
		</if>
		pr.operation_type
		union
		<!-- 采购订单 -->
		select po.schema_name,
		po.supplier_id,
		po.purchase_org_id org_id,
		po.operation_type
		<if test="type==1">
			,poc.commodity_info_id
		</if>
		from purchase_order po, purchase_order_commodity poc
		where
		po.delete_flag = 1
		and po.purchase_status = 4
		and
		substr(po.purchase_date,1,10) between #{start} and #{end}
		<if test="orgId==null">
			<if test="orgs.size()>0">
				and po.purchase_org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and po.purchase_org_id =#{orgId}
		</if>
		and poc.delete_flag = 1
		and po.schema_name = #{schemaName}
		and po.schema_name =
		poc.schema_name
		and
		po.pk_id = poc.purchase_order_id
		group by po.schema_name,
		po.supplier_id,
		po.purchase_org_id,
		<if test="type==1">
			poc.commodity_info_id,
		</if>
		po.operation_type
		union
		<!-- 采购换入 -->
		select pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		pe.operation_type
		<if test="type==1">
			,peic.commodity_info_id
		</if>
		from purchase_exchange pe,
		purchase_exchange_in_commodity peic
		where
		pe.delete_flag = 1
		and pe.exchange_status = 1
		and peic.delete_flag = 1
		and pe.schema_name = #{schemaName}
		and
		substr(pe.exchange_date,1,10)between #{start} and #{end}
		<if test="orgId==null">
			<if test="orgs.size()>0">
				and pe.org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and pe.org_id =#{orgId}
		</if>
		and pe.schema_name = peic.schema_name
		and pe.pk_id = peic.exchange_id
		group by pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		<if test="type==1">
			peic.commodity_info_id,
		</if>
		pe.operation_type
		union
		<!-- 采购换出 -->
		select pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		pe.operation_type
		<if test="type==1">
			,peoc.commodity_info_id
		</if>
		from purchase_exchange pe,
		urchase_exchange_out_commodity peoc
		where
		pe.delete_flag = 1
		and pe.exchange_status = 1
		and peoc.delete_flag = 1
		and pe.schema_name = #{schemaName}
		and
		substr(pe.exchange_date,1,10)between #{start} and #{end}
		<if test="orgId==null">
			<if test="orgs.size()>0">
				and pe.org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and pe.org_id =#{orgId}
		</if>
		and pe.schema_name = peoc.schema_name
		and pe.pk_id = peoc.exchange_id
		group by pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		<if test="type==1">
			peoc.commodity_info_id,
		</if>
		pe.operation_type)
		where 1=1
		<if test="supplierId!=null and supplierId!=''">
			and supplier_id=#{supplierId}
		</if>
		<if test="operationType!=null and operationType!=''">
			and operation_type=#{operationType}
		</if>
		) t11
		) tt
		<if test="type==1">
			,c_commodity t1
			where t1.delete_flag = 1
			and t1.schema_name =
			tt.schema_name
			and t1.pk_id = tt.commodity_info_id
			<if test="commodityCode!=null and commodityCode!=''">
				and t1.commodity_code = '%'||#{commodityCode,
				jdbcType=VARCHAR}
			</if>
			<if test="commodityName!=null and commodityName!=''">
				and t1.commodity_name like '%'||#{commodityName,
				jdbcType=VARCHAR}||'%'
			</if>
			<if test="brandName!=null and brandName!=''">
				and t1.brand_code=#{brandName, jdbcType=VARCHAR}
			</if>
			<if test="catalogName!=null and catalogName!=''">
				and t1.catalog_code=#{catalogName, jdbcType=VARCHAR}
			</if>
			<if test="modelName!=null and modelName!=''">
				and t1.model_code=#{modelName, jdbcType=VARCHAR}
			</if>
		</if>
	</select>

	<select id="getOrgList" resultType="com.bqjr.report.model.SearchCondition">
		select t.pk_id as
		orgId,t.org_name as orgName from C_SYS_ORGANIZATION t
		where
		t.delete_flag=1 and t.schema_name=#{schemaName} and
		t.parent_id=#{orgId}
	</select>
	<select id="getSupplierList" resultType="com.bqjr.report.model.SearchCondition">
		select t.pk_id as supplierId ,t.supplier_name as
		supplierName,t.supplier_code from
		purchase_supplier t ,
		purchase_supplier_org_relation r
		where t.delete_flag=1
		and r.delete_flag=1
		and t.schema_name=r.schema_name
		and t.org_id=r.org_id
		and t.supplier_status=2
		<if test="orgId!=null and orgId.size()>0">
			and t.org_id in
			<foreach collection="orgId" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		and t.schema_name=#{schemaName}
		group by t.pk_id ,t.supplier_name
		,t.supplier_code
	</select>
	<select id="getCatalogList" resultType="com.bqjr.report.model.SearchCondition">
		select t.catalog_code as
		catalogCode,t.catalog_name as catalogName from
		c_commodity_catalog t
		where t.delete_flag=1 and t.status=2 and
		t.schema_name= #{schemaName}
	</select>
	<select id="getBrandList" resultType="com.bqjr.report.model.SearchCondition">
		select t.brand_code brandCode,
		(select b.brand_name from
		c_commodity_brand b where b.delete_flag=1 and
		b.status='2' and
		b.schema_name=t.schema_name and
		b.brand_code=t.brand_code and
		rownum=1)as brandName
		from c_commodity_catalog2brand t where
		t.delete_flag=1
		and t.schema_name=#{schemaName}
		<if test="catalogCode!=null and catalogCode!=''">
			and t.catalog_code=#{catalogCode}
		</if>
	</select>
	<select id="getModelList" resultType="com.bqjr.report.model.SearchCondition">
		select t.model_code as modelCode,t.model_name as modelName from
		c_commodity_model t where t.delete_flag=1 and t.status=2 and
		t.schema_name=#{schemaName}
		<if test="brandCode!=null and brandCode!=''">
			and t.brand_code=#{brandCode}
		</if>
	</select>

	<select id="getBusinessList" resultType="com.bqjr.report.model.SearchCondition">
		select t.business_id as businessId,t.business_name as businessName
		from finance_org_business_type t where t.delete_flag='1' and t.status='1'
		and t.schema_name=#{schemaName}
		<if test="orgId!=null and orgId!=''">
			and t.org_id=#{orgId,jdbcType=VARCHAR}
		</if>
		<if test="businessType!=null and businessType!='' and businessType!=0">
			and t.business_type=#{businessType,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getProxySaleList" resultType="com.bqjr.report.model.ProxySale"
		parameterType="com.bqjr.report.model.SearchCondition">
		select
		tot.schema_name schemaName,

		tot.org_id orgId,
		tot.supplier_id supplierId,
		(select t.supplier_name as supplierName from purchase_supplier t where
		t.pk_id=tot.supplier_id) as supplier,
		<if test="type==1">
			t1.commodity_name commodityName,
			t1.commodity_code
			commodityCode,
			tot.commodity_pk_id,
			(select t2.brand_name from
			c_commodity_brand t2 where <!-- t2.status=2 and -->
			t2.delete_flag=1 <!-- and
			t2.from_type=t1.from_type --> and
			t1.schema_name=t2.schema_name and
			t2.brand_code=t1.brand_code) as
			brandName,
			(select t3.catalog_name from
			c_commodity_catalog t3 where <!-- t3.status=2 and -->
			t3.delete_flag=1 <!-- and
			t3.from_type=t1.from_type --> and
			t1.schema_name=t3.schema_name and
			t3.catalog_code=t1.catalog_code) as
			catalogName,
			(select t4.model_name
			from c_commodity_model t4 where <!-- t4.status=2 and -->
			t4.delete_flag=1 <!-- and
			t4.from_type=t1.from_type --> and
			t1.schema_name=t4.schema_name and
			t4.model_code=t1.model_code ) as
			modelName,
		</if>
		(select t5.org_name from c_sys_organization t5 where
		tot.org_id=t5.pk_id) as orgName,
		<if test="type==2">
			ps.price_method priceMethod,
			ps.price_ratio priceRatio,
			ps.supplier_name supplierName ,
		</if>
		tot.exchangeSaleOutCount exchangeSaleOutCount,
		tot.exchangeSaleInCount exchangeSaleInCount,
		tot.exchangeSaleInAmount exchangeSaleInAmount,
		tot.exchangeSaleOutAmount exchangeSaleOutAmount,
		tot.returnNumGift returnNumGift,
		tot.returnNum returnNum,
		tot.returnAmount returnAmount,

		tot.inventoryNum inventoryNum,
		tot.refundsCount refundsCount,
		tot.refundsAmount refundsAmount,
		tot.wareInCount wareInCount,
		tot.wareInAmount wareInAmount,
		tot.exchangeInCount exchangeInCount,
		tot.exchangeInAmount
		exchangeInAmount,
		tot.exchangeGiftInCount exchangeGiftInCount,
		tot.exchangeGiftOutCount exchangeGiftOutCount,
		tot.exchangeOutCount exchangeOutCount,
		tot.exchangeOutAmount exchangeOutAmount
		<if test="type==2">
			,
			tot.accountAmount accountAmount,
			tot.proceedsAmount
			proceedsAmount
		</if>
		from(
		select
		tt1.schema_name,
		<if test="type==1">
			tt1.commodity_pk_id,
		</if>
		tt1.org_id,
		tt1.supplier_id,
		tt.exchangeSaleOutCount,
		tt2.exchangeSaleInCount,
		tt.exchangeSaleOutAmount ,
		tt2.exchangeSaleInAmount ,
		tt22.exchangeGiftInCount,
		tt11.exchangeGiftOutCount ,
		tt3.returnNumGift returnNumGift,
		tt4.returnNum returnNum,
		tt4.returnAmount returnAmount,
		tt5.inventoryNum,
		t22.refundsCount,
		t22.refundsAmount,
		t33.wareInCount,
		t33.wareInAmount,
		t44.exchangeInCount,
		t44.exchangeInAmount,
		t55.exchangeOutCount,
		t55.exchangeOutAmount
		<if test="type==2">
			,
			t66.accountAmount,
			t66.proceedsAmount
		</if>
		from
		(select cd.schema_name, cd.org_id,cad.supplier_id
    <if test="type==1">
     , cad.commodity_pk_id,cad.commodity_code
    </if>
    from market_commodity_add_details
    cad,market_commodity_add cd where cd.order_status=1 
    and cad.delete_flag=1 and cd.delete_flag=1 and
    cad.details_status=1
    and cad.operation_type=2 
    and cd.sales_date between #{start1} and #{end1}
    and cd.schema_name=cad.schema_name 
    <if test="orgId==null">
			<if test="orgs.size()>0">
				and cd.org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and cd.org_id =#{orgId}
		</if>
		<if test="supplierId!=null and supplierId!=''">
			and cad.supplier_id=#{supplierId}
		</if>
    and cd.schema_name= #{schemaName}
    and cad.order_number=cd.order_number
    group by cd.schema_name,
    cd.org_id,cad.supplier_id
    <if test="type==1">
      , cad.commodity_code,cad.commodity_pk_id
    </if>
    
    union
    
    select mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">
			,crd.commodity_code
      ,(select c.pk_id from c_commodity c where c.org_id=mcr.org_id and c.commodity_code=crd.commodity_code and rownum=1) as commodity_pk_id
		</if>
	  from market_commodity_returns
		mcr,rket_commodity_returns_details crd where mcr.order_status=2 
		and mcr.delete_flag=1 and crd.delete_flag=1 and
		crd.details_status=2
		and crd.operation_type=2 
		and mcr.returns_date between #{start1} and #{end1}
		and mcr.schema_name=crd.schema_name
		<if test="orgId==null">
			<if test="orgs.size()>0">
				and mcr.org_id in
				<foreach collection="orgs" open="(" close=")" item="org"
					separator=",">
					#{org}
				</foreach>
			</if>
		</if>
		<if test="orgId!=null">
			and mcr.org_id =#{orgId}
		</if>
		<if test="supplierId!=null and supplierId!=''">
			and crd.supplier_id=#{supplierId}
		</if> 
    and mcr.schema_name=#{schemaName}
    and mcr.order_number=crd.order_number
		group by
		mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">
    ,crd.commodity_code
    </if>) tt1 left join
		<!-- 销售换货 -->
		(select cd.schema_name , cd.org_id,cad.supplier_id,
		<if test="type==1">
			cad.commodity_pk_id, cad.commodity_code,
		</if>
		sum(cad.commodity_price*cad.commodity_num)
		exchangeSaleOutAmount,
		sum(cad.commodity_num)
		exchangeSaleOutCount
		from market_commodity_add_details
		cad,market_commodity_add cd where
		cd.order_status=3
		and cad.delete_flag=1 and cd.delete_flag=1 and
		cad.details_status=3
		and cad.operation_type=2 and
		cad.complimentary_mark='0'
		and cd.sales_date between #{start1,
		jdbcType=VARCHAR} and #{end1,
		jdbcType=VARCHAR}
		
		and cd.schema_name=cad.schema_name
		and cad.order_number=cd.order_number
		group by cd.schema_name,
		cd.org_id,cad.supplier_id
		<if test="type==1">
			, cad.commodity_code,cad.commodity_pk_id
		</if>
		) tt
		on tt1.schema_name =tt.schema_name and tt1.org_id =tt.org_id and tt1.supplier_id 
			=tt.supplier_id <if test="type==1"> and tt1.commodity_code =tt.commodity_code 
			</if> 

		left join
		<!-- 换货退货 -->
		(select mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">
			,crd.commodity_code
		</if>
		,sum(crd.commodity_num*crd.commodity_price) exchangeSaleInAmount
		,sum(crd.commodity_num) exchangeSaleInCount
		 from market_commodity_returns
		mcr,rket_commodity_returns_details crd where mcr.order_status=4
		and mcr.delete_flag=1 and crd.delete_flag=1 and
		crd.details_status=2
		and crd.operation_type=2 and
		crd.complimentary_mark='0'
		and
		mcr.returns_date between #{start1} and
		#{end1}
		and
		mcr.schema_name=crd.schema_name and
		mcr.order_number=crd.order_number
		group by
		mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">,crd.commodity_code</if>
		) tt2
		on tt1.schema_name =tt2.schema_name
		and tt1.org_id =tt2.org_id
		and
		tt1.supplier_id =tt2.supplier_id
		<if test="type==1">
			and tt1.commodity_code =tt2.commodity_code
		</if>
		left join
		<!-- 销售换货 (赠品)-->
		(select cd.schema_name , cd.org_id,cad.supplier_id,
		<if test="type==1">
			cad.commodity_pk_id, cad.commodity_code,
		</if>
		sum(cad.commodity_num)
		exchangeGiftOutCount
		from market_commodity_add_details
		cad,market_commodity_add cd where
		cd.order_status=3
		and cad.delete_flag=1 and cd.delete_flag=1 and
		cad.details_status=3
		and cad.operation_type=2 and
		cad.complimentary_mark='1'
		and cd.sales_date between #{start1,
		jdbcType=VARCHAR} and #{end1,
		jdbcType=VARCHAR}
		
		and cd.schema_name=cad.schema_name
		and cad.order_number=cd.order_number
		group by cd.schema_name,
		cd.org_id,cad.supplier_id
		<if test="type==1">
			, cad.commodity_code,cad.commodity_pk_id
		</if>
		) tt11
		on tt1.schema_name =tt11.schema_name and tt1.org_id =tt11.org_id and tt1.supplier_id 
			=tt11.supplier_id <if test="type==1"> and tt1.commodity_code =tt11.commodity_code 
			</if> 

		left join
		<!-- 换货退货 （赠品）-->
		(select mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">
			,crd.commodity_code
		</if>
		,sum(crd.commodity_num) exchangeGiftInCount
		 from market_commodity_returns
		mcr,rket_commodity_returns_details crd where mcr.order_status=4
		and mcr.delete_flag=1 and crd.delete_flag=1 and
		crd.details_status=2
		and crd.operation_type=2 and
		crd.complimentary_mark='1'
		and
		mcr.returns_date between #{start1} and
		#{end1}
		and
		mcr.schema_name=crd.schema_name and
		mcr.order_number=crd.order_number
		group by
		mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">,crd.commodity_code</if>
		) tt22
		on tt1.schema_name =tt22.schema_name
		and tt1.org_id =tt22.org_id
		and
		tt1.supplier_id =tt22.supplier_id
		<if test="type==1">
			and tt1.commodity_code =tt22.commodity_code
		</if>
		
		left join
		<!-- 退货（赠品） -->
		(select mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">
			,crd.commodity_code
		</if>
		,sum(crd.commodity_num) returnNumGift from market_commodity_returns
		mcr,rket_commodity_returns_details crd where mcr.order_status=2
		and mcr.delete_flag=1 and crd.delete_flag=1 and
		crd.details_status=2
		and crd.operation_type=2 and
		crd.complimentary_mark='1'
		and
		mcr.returns_date between #{start1} and
		#{end1}
		and
		mcr.schema_name=crd.schema_name and
		mcr.order_number=crd.order_number
		group by
		mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">,crd.commodity_code</if>
		) tt3
		on tt1.schema_name =tt3.schema_name
		and tt1.org_id =tt3.org_id
		and
		tt1.supplier_id =tt3.supplier_id
		<if test="type==1">
			and tt1.commodity_code =tt3.commodity_code
		</if>

		left join
		<!-- 退货（非赠品） -->
		(select mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">,crd.commodity_code</if>
		,sum(crd.commodity_num)
		returnNum,sum(crd.commodity_num*crd.commodity_price) returnAmount from
		market_commodity_returns mcr,rket_commodity_returns_details crd where
		mcr.order_status=2
		and mcr.delete_flag=1 and
		crd.delete_flag=1 and crd.details_status=2
		and crd.operation_type=2 and
		crd.complimentary_mark='0'
		and
		mcr.returns_date between #{start1} and
		#{end1}
		and
		mcr.schema_name=crd.schema_name and
		mcr.order_number=crd.order_number
		group by
		mcr.schema_name,mcr.org_id,crd.supplier_id
		<if test="type==1">,crd.commodity_code</if>
		) tt4
		on tt1.schema_name =tt4.schema_name
		and tt1.org_id =tt4.org_id
		and
		tt1.supplier_id =tt4.supplier_id

		<if test="type==1">
			and tt1.commodity_code =tt4.commodity_code
		</if>

		left join
		<!-- 库存数量 -->
		(select ii.schema_name,ii.supplier_id
		<if test="type==1">,ii.commodity_info_id</if>
		,sum(ii.quantity_on_hand) inventoryNum from inventory_item ii where
		ii.delete_flag=1 and ii.operation_type=2
		<!-- and
		substr(ii.last_up_time,1,10) between
		#{start} and #{end} -->
		group by
		ii.schema_name,ii.supplier_id
		<if test="type==1">,ii.commodity_info_id</if>
		) tt5
		on tt1.schema_name = tt5.schema_name
		and
		tt1.supplier_id=tt5.supplier_id
		<if test="type==1">
			and tt1.commodity_pk_id=tt5.commodity_info_id
		</if>

		left join
		<!-- 退货数量，退货金额 -->
		(select pr.schema_name,
		pr.supplier_id,
		pr.org_id,
		<if test="type==1">
			prc.commodity_info_id,
		</if>
		sum(prc.quantity) as refundsCount,
		sum(prc.total_amount) as
		refundsAmount
		from purchase_refunds pr, purchase_refunds_commodity prc
		where pr.delete_flag = 1
		and pr.refunds_status = 1
		and prc.delete_flag =
		1
		and pr.operation_type=2
		and substr(pr.refunds_date,1,10) between
		#{start} and
		#{end}
		and pr.schema_name = prc.schema_name
		and pr.pk_id =
		prc.refunds_id
		group by pr.schema_name,
		pr.supplier_id,
		pr.org_id
		<if test="type==1">
			,prc.commodity_info_id
		</if>
		) t22
		on tt1.schema_name =t22.schema_name
		and tt1.org_id =t22.org_id
		and
		tt1.supplier_id =t22.supplier_id
		<if test="type==1">
			and tt1.commodity_pk_id =t22.commodity_info_id
		</if>

		left join

		<!-- 入库数量，入库金额 -->
		(select pwi.schema_name,

		pwi.supplier_id,
		pwi.org_id,
		<if test="type==1">
			wic.commodity_info_id,
		</if>
		sum(wic.quantity) as wareInCount,
		sum(wic.total_amount) as wareInAmount
		from purchase_warehouse_in pwi, urchase_warehouse_in_commodity wic
		where pwi.delete_flag = 1
		and pwi.warehouse_in_status = 1
		and
		wic.delete_flag = 1
		and pwi.operation_type=2
		and
		substr(pwi.warehouse_in_date,1,10)
		between #{start} and #{end}
		and
		pwi.schema_name = wic.schema_name
		and
		pwi.pk_id = wic.warehouse_in_id
		group by pwi.schema_name,
		pwi.supplier_id,
		pwi.org_id
		<if test="type==1">
			,wic.commodity_info_id
		</if>
		) t33
		on tt1.schema_name =t33.schema_name
		and tt1.org_id =t33.org_id
		and
		tt1.supplier_id =t33.supplier_id
		<if test="type==1">
			and tt1.commodity_pk_id =t33.commodity_info_id
		</if>

		left join
		<!-- 换入数量，换入金额 -->
		(select pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		<if test="type==1">
			peic.commodity_info_id,
		</if>
		sum(peic.quantity) as exchangeInCount,
		sum(peic.total_amount) as
		exchangeInAmount
		from purchase_exchange pe,
		purchase_exchange_in_commodity peic
		where pe.delete_flag = 1
		and
		pe.exchange_status = 1
		and peic.delete_flag = 1
		and pe.operation_type=2
		and substr(pe.exchange_date,1,10) between #{start} and #{end}
		and
		pe.schema_name =
		peic.schema_name
		and pe.pk_id = peic.exchange_id
		group
		by
		pe.schema_name,
		pe.supplier_id,
		pe.org_id
		<if test="type==1">
			,peic.commodity_info_id
		</if>
		) t44
		on tt1.schema_name =t44.schema_name
		and tt1.org_id =t44.org_id
		and
		tt1.supplier_id =t44.supplier_id
		<if test="type==1">
			and tt1.commodity_pk_id =t44.commodity_info_id
		</if>

		left join
		<!-- 换出数量，换出金额 -->
		(select pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		<if test="type==1">
			peoc.commodity_info_id,
		</if>
		sum(peoc.quantity) as exchangeOutCount,
		sum(peoc.total_amount) as
		exchangeOutAmount
		from purchase_exchange pe,
		urchase_exchange_out_commodity peoc
		where pe.delete_flag = 1
		and
		pe.exchange_status = 1
		and peoc.delete_flag = 1
		and pe.operation_type=2
		and substr(pe.exchange_date,1,10) between #{start} and #{end}
		and
		pe.schema_name =
		peoc.schema_name
		and pe.pk_id = peoc.exchange_id
		group
		by
		pe.schema_name,
		pe.supplier_id,
		pe.org_id
		<if test="type==1">
			,peoc.commodity_info_id
		</if>
		) t55
		on tt1.schema_name =t55.schema_name
		and tt1.org_id =t55.org_id
		and
		tt1.supplier_id =t55.supplier_id
		<if test="type==1">
			and tt1.commodity_pk_id =t55.commodity_info_id
		</if>
		<if test="type==2">
			left join
			( select
			mca.schema_name,mca.org_id,mca.supplier_id,sum(mca.consignment_amount)
			accountAmount,sum(mca.actual_receive_amount) proceedsAmount from
			market_consignment_account mca
			where mca.account_status=2 and
			mca.delete_flag=1
			and substr(mca.last_up_time,1,10) between #{start} and #{end}
			group by mca.schema_name,mca.org_id,mca.supplier_id) t66
			on
			tt1.schema_name =t66.schema_name
			and tt1.org_id =t66.org_id
			and
			tt1.supplier_id =t66.supplier_id
		</if>
		) tot
		<if test="type==1">,c_commodity t1</if>
		<if test="type==2">,purchase_supplier ps</if>
		where 1=1
		<if test="type==1">
			and t1.schema_name=tot.schema_name
			<!-- and t1.delete_flag=1 -->
		</if>
		<if test="type==2">
			<!-- and ps.delete_flag=1 and ps.supplier_status=3 and ps.operation_type=2 -->
			and ps.schema_name=tot.schema_name
			and ps.pk_id=tot.supplier_id
		</if>
		<if test="type==1">
			and t1.pk_id=tot.commodity_pk_id
			<if test="commodityCode!=null and commodityCode!=''">
				and t1.commodity_code like '%'||#{commodityCode,
				jdbcType=VARCHAR}||'%'
			</if>
			<if test="commodityName!=null and commodityName!=''">
				and t1.commodity_name like '%'||#{commodityName,
				jdbcType=VARCHAR}||'%'
			</if>
			<if test="brandName!=null and brandName!=''">
				and t1.brand_code=#{brandName, jdbcType=VARCHAR}
			</if>
			<if test="catalogName!=null and catalogName!=''">
				and t1.catalog_code=#{catalogName, jdbcType=VARCHAR}
			</if>
			<if test="modelName!=null and modelName!=''">
				and t1.model_code=#{modelName, jdbcType=VARCHAR}
			</if>
		</if>


	</select>
	<select id="getWarehouseList" resultType="com.bqjr.report.model.SearchCondition">
		select t.pk_id warehouseId,t.wh_name warehouseName from
		storage_warehouse_info t where t.delete_flag=1 and t.wh_status=1
		<if test="orgId!=null and orgId!=''">and t.org_id=#{orgId}</if>
		and t.schema_name=#{schemaName}
	</select>

	<select id="getInventoryWarnList" resultType="com.bqjr.report.model.InventoryWarn"
		parameterType="com.bqjr.report.model.SearchCondition">
		select
		tt2.commodityName commodityName,
		tt2.commodityCode commodityCode,
		tt2.org_id orgId,
		(select o.org_name from c_sys_organization o where
		o.pk_id=tt2.org_id)as
		orgName,
		tt2.commodity_id commodityId,
		tt2.catalogName catalogName,
		tt2.brandName brandName,
		tt2.modelName
		modelName,
		tt2.schema_name schemaName,
		tt2.warehouse_id whId,
		tt2.count1
		inventoryNum,
		tt2.wh_code,
		tt2. wh_name whName,
		sew.safe_stock
		safeInventory,sew.unsalable_days unsalableDays from
		(select
		t1.commodity_name commodityName,
		t1.commodity_code
		commodityCode,
		t1.org_id,
		t1.pk_id commodity_id,
		(select t2.brand_name
		from
		c_commodity_brand t2 where <!-- t2.status=2 and -->
		t2.delete_flag=1 and
		<!-- t2.from_type=t1.from_type and -->
		t1.schema_name=t2.schema_name and
		t2.brand_code=t1.brand_code) as
		brandName,
		(select t3.catalog_name from
		c_commodity_catalog t3 where <!-- t3.status=2 and -->
		t3.delete_flag=1 and
		<!-- t3.from_type=t1.from_type and -->
		t1.schema_name=t3.schema_name and
		t3.catalog_code=t1.catalog_code) as
		catalogName,
		(select t4.model_name
		from c_commodity_model t4 where <!-- t4.status=2 and -->
		t4.delete_flag=1 and
		<!-- t4.from_type=t1.from_type and -->
		t1.schema_name=t4.schema_name and
		t4.model_code=t1.model_code ) as
		modelName,
		tt1.schema_name,tt1.warehouse_id,tt1.count1,
		(select swi.wh_code from
		storage_warehouse_info swi where
		swi.pk_id=tt1.warehouse_id) as
		wh_code,
		(select swi.wh_name from storage_warehouse_info swi where
		swi.pk_id=tt1.warehouse_id) as wh_name

		from
		(select ii.schema_name,
		ii.commodity_info_id,ii.warehouse_id,sum(ii.quantity_on_hand) count1
		from inventory_item ii where <!-- ii.delete_flag=1
		and -->
		ii.schema_name=#{schemaName}
		group by ii.schema_name,
		ii.commodity_info_id,ii.warehouse_id)tt1
		
		, c_commodity t1
		where 1=1
		<if test="commodityCode!=null and commodityCode!=''">
			and t1.commodity_code like '%'||#{commodityCode,
			jdbcType=VARCHAR}||'%'
		</if>
		<if test="commodityName!=null and commodityName!=''">
			and t1.commodity_name like '%'||#{commodityName,
			jdbcType=VARCHAR}||'%'
		</if>
		<if test="brandName!=null and brandName!=''">
			and t1.brand_code=#{brandName, jdbcType=VARCHAR}
		</if>
		<if test="catalogName!=null and catalogName!=''">
			and t1.catalog_code=#{catalogName, jdbcType=VARCHAR}
		</if>
		<if test="modelName!=null and modelName!=''">
			and t1.model_code=#{modelName, jdbcType=VARCHAR}
		</if>
		<if test="orgId==null and orgs.size()>0">
			and t1.org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org,jdbcType=VARCHAR}
			</foreach>
		</if>
		<if test="orgId!=null">
			and t1.org_id = #{orgId,jdbcType=VARCHAR}
		</if>
		<if test="warehouseId!=null and warehouseId!=''">
			and tt1.warehouse_id=#{warehouseId,jdbcType=VARCHAR}
		</if>
		and tt1.commodity_info_id=t1.pk_id) tt2 ,
		storage_early_warning sew
		where sew.commodity_code=tt2.commodityCode
		and sew.delete_flag=1
		and
		sew.org_id=tt2.org_id
		and sew.safe_stock>tt2.count1

		and
		sew.schema_name=tt2.schema_name
		and sew.wh_code=tt2.wh_code



	</select>
	<select id="getInventoryWarnList1" resultType="com.bqjr.report.model.InventoryWarn"
		parameterType="com.bqjr.report.model.SearchCondition">
		select
		tt2.commodityName commodityName,
		tt2.commodityCode commodityCode,
		tt2.org_id orgId,
		(select o.org_name from c_sys_organization o where
		o.pk_id=tt2.org_id)as
		orgName,
		tt2.commodity_id commodityId,
		tt2.operation_type
		operationType,
		tt2.supplier_id supplierId,
		tt2.supplier_name supplier,
		tt2.catalogName catalogName,
		tt2.brandName
		brandName,
		tt2.modelName
		modelName,
		tt2.schema_name schemaName,
		tt2.warehouse_id whId,
		tt2.count1 inventoryNum,
		tt2.time1
		inventoryInTime,
		tt2.wh_code,
		wh_name whName,
		tt2.infoContent
		infoContent,
		tt2.info_type infoType,
		sew.safe_stock
		safeInventory,sew.unsalable_days unsalableDays from
		(select
		t1.commodity_name commodityName,
		t1.commodity_code
		commodityCode,
		t1.org_id,
		t1.pk_id commodity_id,
		(select t2.brand_name
		from
		c_commodity_brand t2 where <!-- t2.status=2 and -->
		t2.delete_flag=1 and
		<!-- t2.from_type=t1.from_type and -->
		t1.schema_name=t2.schema_name and
		t2.brand_code=t1.brand_code) as
		brandName,
		(select t3.catalog_name from
		c_commodity_catalog t3 where <!-- t3.status=2 and -->
		t3.delete_flag=1 and
		<!-- t3.from_type=t1.from_type and -->
		t1.schema_name=t3.schema_name and
		t3.catalog_code=t1.catalog_code) as
		catalogName,
		(select t4.model_name
		from c_commodity_model t4 where <!-- t4.status=2 and -->
		t4.delete_flag=1 and
		<!-- t4.from_type=t1.from_type and -->
		t1.schema_name=t4.schema_name and
		t4.model_code=t1.model_code ) as
		modelName,
		tt1.schema_name,tt1.warehouse_id,tt1.count1,tt1.time1,tt1.supplier_id,tt1.supplier_name,tt1.operation_type
		,tt1.infoContent ,tt1.info_type,
		(select swi.wh_code from
		storage_warehouse_info swi where
		swi.pk_id=tt1.warehouse_id) as
		wh_code,
		(select swi.wh_name from
		storage_warehouse_info swi where
		swi.pk_id=tt1.warehouse_id) as wh_name
		from
		(select ii.schema_name,
		ii.commodity_info_id,ii.warehouse_id,decode(iii.info_type,'2',ii.supplier_id,null) supplier_id,decode(iii.info_type,'2',ii.supplier_name,null) supplier_name,
		decode(iii.info_type,'2',ii.operation_type,null) operation_type
    	,decode(iii.info_type,'2',iii.info_content,null)
    	infoContent,iii.info_type,sum(iii.quantity)
    	count1,
    	min(iii.create_time) time1 from inventory_item
		ii,inventory_item_info iii where ii.delete_flag=1
		<!-- iii.delete_flag=1 -->
		and ii.schema_name =
		#{schemaName}
		and
		ii.pk_id=iii.inventory_item_id
		group by
		ii.schema_name,
		ii.commodity_info_id,ii.warehouse_id,decode(iii.info_type,'2',ii.supplier_id,null),decode(iii.info_type,'2',ii.supplier_name,null),decode(iii.info_type,'2',ii.operation_type,null)
    	,decode(iii.info_type,'2',iii.info_content,null)
    	,iii.info_type)tt1
		,
		c_commodity t1
		where 1=1
		<if test="commodityCode!=null and commodityCode!=''">
			and t1.commodity_code like '%'||#{commodityCode,
			jdbcType=VARCHAR}||'%'
		</if>
		<if test="commodityName!=null and commodityName!=''">
			and t1.commodity_name like '%'||#{commodityName,
			jdbcType=VARCHAR}||'%'
		</if>
		<if test="brandName!=null and brandName!=''">
			and t1.brand_code=#{brandName, jdbcType=VARCHAR}
		</if>
		<if test="catalogName!=null and catalogName!=''">
			and t1.catalog_code=#{catalogName, jdbcType=VARCHAR}
		</if>
		<if test="modelName!=null and modelName!=''">
			and t1.model_code=#{modelName, jdbcType=VARCHAR}
		</if>
		<if test="orgId==null and orgs.size()>0">
			and t1.org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		<if test="orgId!=null">
			and t1.org_id = #{orgId}
		</if>
		<if test="warehouseId!=null and warehouseId!=''">
			and tt1.warehouse_id=#{warehouseId}
		</if>
		and tt1.commodity_info_id=t1.pk_id) tt2 ,
		storage_early_warning sew
		where sew.commodity_code=tt2.commodityCode
		and
		sew.delete_flag=1 and
		to_char(sysdate-sew.unsalable_days,'yyyy/MM/dd')> tt2.time1
		and
		sew.org_id=tt2.org_id and sew.schema_name=tt2.schema_name
		and
		sew.wh_code=tt2.wh_code




	</select>

	<select id="getSpecList" resultType="com.bqjr.report.model.SearchCondition">
		select t.commodity_code commodityCode,t.org_id orgId, (select
		cs.spec_name from c_commodity_spec cs where cs.delete_flag=1 and
		cs.schema_name=t.schema_name and cs.status=2 and
		cs.spec_code=t.spec_code) as specName,
		(select csi.spec_item_name from
		c_commodity_spec_item csi where
		csi.delete_flag=1 and
		csi.schema_name=t.schema_name and
		csi.spec_item_code=t.spec_item_code)
		as specItem
		from c_commodity2spec t where t.delete_flag=1 and
		t.commodity_code in
		<foreach collection="codes" open="(" close=")" separator=","
			item="item">
			#{item}
		</foreach>
		and t.schema_name=#{schemaName}
	</select>

	<select id="getDetail" resultType="com.bqjr.report.model.InventoryWarn">
		<!-- select ii.supplier_name supplier,ii.create_time inventoryInTime,ii.operation_type 
			operationType,iii.quantity quantity,iii.info_content infoContent,iii.info_type 
			infoType from inventory_item_info iii,inventory_item ii where ii.pk_id=iii.inventory_item_id 
			and iii.delete_flag=1 and ii.delete_flag=1 and ii.schema_name= #{schemaName} 
			and ii.commodity_info_id=#{commodityId} and ii.warehouse_id =#{whId} -->
		<!-- select ii.supplier_name
		supplier,ii.create_time
		inventoryInTime,ii.operation_type
		operationType,decode(ii.warehouse_mgt_way,'3',ii.quantity_on_hand,iii.quantity)
		quantity,iii.info_content infoContent
		from inventory_item ii , inventory_item_info iii
		where  ii.delete_flag = 1
		and iii.delete_flag = 1
		and ii.pk_id=iii.inventory_item_id
		and ii.commodity_info_id=iii.commodity_info_id
		and ii.schema_name= #{schemaName} and
		ii.commodity_info_id=#{commodityId}
		and ii.warehouse_id =#{whId} -->
		
		select t1.supplier_name supplier,
       t2.create_time inventoryInTime,
       t1.operation_type operationType,
       decode(t1.warehouse_mgt_way, '3', t1.quantity_on_hand, t2.quantity) quantity,
       t2.info_content infoContent
  from (select *
          from inventory_item ii
         where ii.delete_flag = 1
           and ii.schema_name = #{schemaName}
           and ii.commodity_info_id = #{commodityId}
           and ii.warehouse_id = #{whId}) t1
  left join (select * from inventory_item_info iii where iii.delete_flag = 1) t2
    on t1.pk_id = t2.inventory_item_id
   and t1.commodity_info_id = t2.commodity_info_id

	</select>

	<select id="getDetails" resultType="com.bqjr.report.model.InventoryWarn">
		<!-- select ii.supplier_name
		supplier,ii.create_time
		inventoryInTime,ii.operation_type
		operationType,iii.quantity
		quantity,iii.info_content
		infoContent,iii.info_type infoType from
		inventory_item_info
		iii,inventory_item ii where
		ii.pk_id=iii.inventory_item_id and
		iii.delete_flag=1 and ii.delete_flag=1
		and ii.schema_name=
		#{schemaName} and
		ii.commodity_info_id=#{commodityId}
		and
		ii.warehouse_id =#{whId} -->
		<!-- and ii.supplier_id=#{supplierId} -->
		select supplier,inventoryInTime,operationType,infoContent,infoType,unsalable_days from(
		select ii.supplier_name  supplier,
       (select min(i.create_time) create_time from inventory_item_info i where iii.info_content = i.info_content
       group by i.info_content)  inventoryInTime,
       ii.operation_type operationType,
       sew.unsalable_days,
       iii.info_content  infoContent,
       iii.info_type     infoType
  from 
       inventory_item        ii,
       storage_early_warning sew,
       inventory_item_info iii
 where ii.pk_id = iii.inventory_item_id
   and sew.commodity_code = (select c.commodity_code from c_commodity c where c.pk_id=iii.commodity_info_id)
   and sew.delete_flag = 1
   and ii.delete_flag = 1
   and iii.delete_flag = 1
   and sew.schema_name = ii.schema_name
   and sew.wh_code = (select swi.wh_code from storage_warehouse_info swi where swi.pk_id=ii.warehouse_id)
   and ii.schema_name = #{schemaName}
   and ii.commodity_info_id = #{commodityId}
   and ii.warehouse_id = #{whId}) tt1
   where  to_char(sysdate - tt1.unsalable_days, 'yyyy/MM/dd') > inventoryInTime
		
	</select>

	<select id="getPurchaseOrder" resultType="com.bqjr.report.model.PurchaseCollect"
		parameterType="com.bqjr.report.model.SearchCondition">
		select po.schema_name schemaName,
		po.supplier_id supplierId,
		po.purchase_org_id orgId,
		po.operation_type operationType,
		<if test="type==1">
			poc.commodity_info_id commodityId,
		</if>
		nvl((sum(poc.order_quantity)),'0') as purchaseCount,
		nvl(sum(poc.order_total_amount),'0') as purchaseAmount
		from
		purchase_order po, purchase_order_commodity poc
		where po.delete_flag =
		1
		and po.purchase_status in (1,3,4)
		and substr(po.purchase_date,1,10)
		between
		#{start} and #{end}
		and poc.delete_flag = 1
		and po.schema_name =
		poc.schema_name
		and po.schema_name=#{schemaName}
		<if test="orgId==null and orgs.size()>0">
			and po.purchase_org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		<if test="orgId!=null">
			and po.purchase_org_id =#{orgId}
		</if>
		and po.pk_id = poc.purchase_order_id
		group by po.schema_name,
		po.supplier_id,
		po.purchase_org_id,
		<if test="type==1">
			poc.commodity_info_id,
		</if>
		po.operation_type
	</select>

	<select id="getPurchaseWarehouse" resultType="com.bqjr.report.model.PurchaseCollect"
		parameterType="com.bqjr.report.model.SearchCondition">
		select pwi.schema_name schemaName,

		pwi.supplier_id supplierId,
		pwi.org_id orgId,
		pwi.operation_type operationType,
		<if test="type==1">
			wic.commodity_info_id commodityId,
		</if>
		sum(wic.quantity) as wareInCount,
		sum(wic.total_amount) as wareInAmount
		from purchase_warehouse_in pwi, urchase_warehouse_in_commodity wic
		where pwi.delete_flag = 1
		and pwi.warehouse_in_status = 1
		<if test="orgId==null and orgs.size()>0">
			and pwi.org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		<if test="orgId!=null">
			and pwi.org_id =#{orgId}
		</if>
		and pwi.schema_name = #{schemaName}
		and wic.delete_flag = 1
		and
		substr(pwi.warehouse_in_date ,1,10) between #{start} and #{end}
		and
		pwi.schema_name = wic.schema_name
		and pwi.pk_id =
		wic.warehouse_in_id
		group by pwi.schema_name,
		pwi.supplier_id,
		pwi.org_id,
		<if test="type==1">
			wic.commodity_info_id,
		</if>
		pwi.operation_type
	</select>

	<select id="getPurchaseRefunds" resultType="com.bqjr.report.model.PurchaseCollect"
		parameterType="com.bqjr.report.model.SearchCondition">
		select pr.schema_name schemaName,
		pr.supplier_id supplierId,
		pr.org_id
		orgId,
		pr.operation_type operationType,
		<if test="type==1">
			prc.commodity_info_id commodityId,
		</if>
		nvl(sum(prc.quantity),0) as refundsCount,
		nvl(sum(prc.total_amount),0)
		as refundsAmount
		from purchase_refunds pr, purchase_refunds_commodity
		prc
		where pr.delete_flag = 1
		and pr.refunds_status = 1
		and
		prc.delete_flag = 1
		and substr(pr.refunds_date,1,10) between #{start}
		and #{end}
		and
		pr.schema_name = prc.schema_name
		<if test="orgId==null and orgs.size()>0">
			and pr.org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		<if test="orgId!=null">
			and pr.org_id =#{orgId}
		</if>
		and pr.schema_name = #{schemaName}
		and pr.pk_id = prc.refunds_id
		group
		by
		pr.schema_name,
		pr.supplier_id,
		pr.org_id,
		<if test="type==1">
			prc.commodity_info_id,
		</if>
		pr.operation_type
	</select>

	<select id="getPurchaseExchangeIn" resultType="com.bqjr.report.model.PurchaseCollect"
		parameterType="com.bqjr.report.model.SearchCondition">
		select pe.schema_name schemaName,
		pe.supplier_id supplierId,
		pe.org_id
		orgId,
		pe.operation_type operationType,
		<if test="type==1">
			peic.commodity_info_id commodityId,
		</if>
		sum(peic.quantity) as exchangeInCount,
		sum(peic.total_amount) as
		exchangeInAmount
		from purchase_exchange pe,
		purchase_exchange_in_commodity peic
		where pe.delete_flag = 1
		and
		pe.exchange_status = 1
		and peic.delete_flag = 1
		and
		substr(pe.exchange_date,1,10)
		between #{start} and #{end}
		and
		pe.schema_name = peic.schema_name
		<if test="orgId==null and orgs.size()>0">
			and pe.org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		<if test="orgId!=null">
			and pe.org_id =#{orgId}
		</if>
		and pe.schema_name = #{schemaName}
		and
		pe.pk_id = peic.exchange_id
		group
		by pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		<if test="type==1">
			peic.commodity_info_id,
		</if>
		pe.operation_type
	</select>

	<select id="getPurchaseExchangeOut" resultType="com.bqjr.report.model.PurchaseCollect"
		parameterType="com.bqjr.report.model.SearchCondition">
		select pe.schema_name schemaName,
		pe.supplier_id supplierId,
		pe.org_id
		orgId,
		pe.operation_type operationType,
		<if test="type==1">
			peoc.commodity_info_id commodityId,
		</if>
		sum(peoc.quantity) as exchangeOutCount,
		sum(peoc.total_amount) as
		exchangeOutAmount
		from purchase_exchange pe,
		urchase_exchange_out_commodity peoc
		where pe.delete_flag = 1
		and
		pe.exchange_status = 1
		and peoc.delete_flag = 1
		and
		substr(pe.exchange_date,1,10)
		between #{start} and #{end}
		and
		pe.schema_name = peoc.schema_name
		<if test="orgId==null and orgs.size()>0">
			and pe.org_id in
			<foreach collection="orgs" open="(" close=")" item="org"
				separator=",">
				#{org}
			</foreach>
		</if>
		<if test="orgId!=null">
			and pe.org_id =#{orgId}
		</if>
		and pe.schema_name = #{schemaName}
		and
		pe.pk_id = peoc.exchange_id
		group
		by pe.schema_name,
		pe.supplier_id,
		pe.org_id,
		<if test="type==1">
			peoc.commodity_info_id,
		</if>
		pe.operation_type
	</select>
	<select id="getMarket" resultType="com.bqjr.report.model.ProxySale"
		parameterType="com.bqjr.report.model.SearchCondition">
		select cd.schema_name schemaName, cd.org_id orgId,cad.supplier_id supplierId,
		<if test="type==1">
			cad.commodity_code commodityCode,
		</if>
		sum(cad.commodity_num) saleOrderNum,sum(cad.commodity_price)
		actualAmount, sum(cad.commodity_price*cad.commodity_num)
		saleOrderAmount from market_commodity_add_details
		cad,market_commodity_add cd where cd.order_status=1
		and cad.delete_flag=1 and cd.delete_flag=1 and
		cad.details_status=1
		and cad.operation_type=2 and
		cad.complimentary_mark= #{mark}
		and cd.sales_date between #{start1} and #{end1}
		and cd.schema_name=cad.schema_name and
		cad.order_number=cd.order_number
		and cd.schema_name=#{schemaName}
		group by cd.schema_name,
		cd.org_id,cad.supplier_id
		<if test="type==1">
			, cad.commodity_code
		</if>
	</select>
</mapper>